.flex-row {
    display: flex;
    flex-direction: row;
    &-align-center {
      align-items: center
    }
    &-align-strech {
      align-items: stretch;
    }
    &-justify-center {
      justify-content: center;
    }
  }

.flex-column {
  display: flex;
  flex-direction: column;
  &-align-center {
    align-items: center
  }
  &-align-strech {
    align-items: stretch;
  }
  &-justify-center {
    justify-content: center;
  }
}
