<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <div class="flex-column flex-column-align-center">
      <div class="col-md-6" >
        <h1>Sign Up</h1>
        <div class="col-md-12">
            <div class="field">
              <label>Username</label>
              <input formControlName="username" class="form-control">
            </div>
        </div>
        <div class="col-md-12">
          <div class="field">
            <label>Password</label>
            <input formControlName="password" class="form-control" type="password">
          </div>
        </div>
        <div class="col-md-12">
          <div class="field">
            <label>Confirm Password</label>
            <input formControlName="confirmPassword" class="form-control" type="password">
          </div>
        </div>
        <p class="error-message" *ngIf="!validatePassword()">Password and Confirm Password are not matching</p>
        <div class="col-md-12">
          <div class="actions right-div">
            <button type="submit" class="btn btn-primary" [disabled]="!validateForm()">
              <div *ngIf="!isLoading">Sign Up</div>
              <div *ngIf="isLoading" class="loader"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
